.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 12px;
}

.add-img-upload {
  display: flex;
  flex-direction: column;
}

.upload-label {
  margin-bottom: 8px;
}

.image-upload-row {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.image-preview {
  width: 80px;
  height: auto;
  cursor: pointer;
}
.form-group {
  width: 100%;
  margin-bottom: 1rem;
}

.label {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.input {
  width: 100%;
  max-width: 500px;
  padding: 0.5rem;
  box-sizing: border-box;
}

.row-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

@media (min-width: 640px) {
  .row-group {
    flex-direction: row;
  }
}

.select-group {
  flex: 1;
}

.select {
  width: 100%;
  padding: 0.5rem 0.75rem;
  box-sizing: border-box;
}

.price-group {
  max-width: 120px;
}

.price-input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  box-sizing: border-box;
}

.sizes {
  display: flex;
  gap: 0.75rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.size-option {
  background-color: #e2e8f0; /* slate-200 */
  padding: 0.25rem 0.75rem;
  cursor: pointer;
  border-radius: 4px;
}

.bestseller {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: 0.5rem;
}

.submit-btn {
  width: 112px;
  padding: 0.75rem 0;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}
.size-option {
  background-color: #e2e8f0; /* slate-200 */
  padding: 0.25rem 0.75rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.1s ease;
}

.size-option.active {
  background-color: rgba(255, 99, 71, 0.774);
}

