/* Styles globaux */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Container principal centré */
.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Carte de connexion */
.card {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
  max-width: 28rem;
  width: 100%;
}

/* Titre */
.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Groupe de champs */
.input-group {
  margin-bottom: 0.75rem;
  min-width: 18rem;
}

.label {
  font-size: 0.875rem;
  font-weight: 500;
  color: #4B5563; /* Gris */
  margin-bottom: 0.5rem;
  display: block;
}

.input {
  border-radius: 0.375rem;
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #D1D5DB; /* Gris clair */
  outline: none;
  box-sizing: border-box;
}

/* Bouton */
.button {
  margin-top: 0.5rem;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
}
